{{define "content"}}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-xl-4 my-5">
      <h1 class="mb-2">Inbound {{.Inbound}}</h1>
      <p class="text-muted mb-4">Adding parts to inventory</p>
      <br />
      <div id="alerts"></div>
      <form method="post" id="item-form">
        <div class="form-group mb-2">
          <label class="tlabel">Internal Order Number</label>
          <p id="ordernumber" name="ordernumber" type="ordernumber"
            class="form-control" autofocus="true">{{.Inbound}}</p>
        </div>
        <div class="form-group mb-2" id="search-group">
          <label class="tlabel">Search</label>
          <input id="search" name="search" type="search" class="form-control {{if .email_invalid }} is-invalid {{end}}"
            autofocus="true" />
        </div>
        {{range .Items}}
        <div id="{{.ID}}" class="input-group mt-2" aria-label="input group" name="{{.ID}}">
          <select id="select-{{.ID}}" class="custom-select" aria-label="select element" name="item">
            <option selected>{{.Description}}</option>
          </select>

          <input id="amount-{{.ID}}" type="number" class="form-control ml-2" placeholder="amount"
            aria-label="select amount" value="{{.Stock}}" name="amount" />
          <button value="{{.ID}}" class="deletebtn btn">x</button>
        </div>
        {{end}}
        <br />
        <button id="confirm-button" class="btn btn-lg btn-block btn-primary mt-2 mb-4">
          Confirm
        </button>
    </div>


    <script>
          let selects = [];
          $("body").on("keydown", "input, select", function (e) {
            if (e.which === 13) {
              var self = $(this);
              var selfid = self.attr("id");
              let search = $("#search");

              if (
                selfid == "ordernumber" ||
                selfid == "amount-" + selects.length
              ) {
                search.val("");
                search.focus();
              } else if (selfid == "search") {
                $.get("/json/partsearch/" + $("#search").val()).always(
                  (data) => {
                    if (!data.length) {
                      $("#alerts")
                        .html(
                          `
                  <div class="alert alert-danger" role="alert">
                    Item not found
                  </div>
                        `
                        )
                        .fadeIn();
                      $("#alerts").delay(2500).fadeOut();
                      search.focus();
                      return;
                    }

                    selects.push(data);

                    $("#search-group").append(
                      `
                      <div class="input-group mt-2">
                        <select
                        id="select-${selects.length}"
                        class="custom-select"
                        aria-label="select element"
                        name="item"
                        </select>

                        <input
                        id="amount-${selects.length}"
                        type="number"
                        class="form-control ml-2"
                        placeholder="amount" 
                        aria-label="select amount"
                        name="amount"
                        >
                        <button
                          value="${selects.length}"
                          class="deletebtn btn">
                          x
                        </button>
                        <div/>
                      `
                    );

                    selects[selects.length - 1].forEach((value, index) => {
                      $(`#select-${selects.length}`).append(
                        $("<option></option>")
                          .val(value.description)
                          .html(value.description)
                      );
                    });

                    $("#amount-" + selects.length).focus();
                  }
                );
              }

              return false;
            }
          });

          $("#confirm-button").click((e) => {
            e.preventDefault();

            $("#alerts")
              .html(
                `
                <div class="alert alert-info" role="alert">
                  Processing the items
                </div>
                `
              )
              .fadeIn();

              $.post("/inbound/"+$('#ordernumber').html(), $( "#item-form" ).serialize()).done(() => {
                $("#alerts")
                .html(
                  `
                  <div class="alert alert-success" role="alert">
                    Items processed!
                    </div>
                    `
                    )
                    .fadeIn()
                    $("#alerts").delay(2500).fadeOut();
                  }
              )
          });

          $(document).on("click", "button.deletebtn", (e) => {
            $(this).closest("div").remove();
            return false;
          });
    </script>
    </form>
  </div>
</div>

{{ end }}