{{define "content"}}

<div class="container">


  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-xl-4 my-5">

      <!-- Heading -->
      <h1 class="mb-2">
        Inbound
      </h1>



      <p class="text-muted mb-4">
        Adding parts to inventory
      </p>
      <br />

      <form method='post'>

        <!-- Email address -->
        <div class="form-group mb-2">
          <label class='tlabel'>Internal Order Number</label>
          <input id="ordernumber" name="ordernumber" type="ordernumber"
            class="form-control {{if .email_invalid }} is-invalid {{end}}" autofocus=true>
        </div>

        <div class="form-group mb-5" id="search-group">
          <label class='tlabel'>Search</label>
          <input id="search" name="search" type="search" class="form-control {{if .email_invalid }} is-invalid {{end}}"
            autofocus=true>
        </div>

        <br />

        <button id="confirm-button" class="btn btn-lg btn-block btn-primary mt-2 mb-4 disabled">
          yes
        </button>

        <script>
          let select_id = 0;
          let selected = [];
          let selects = [];

          function on_select(sel) {
            selected[sel.name] = selects[sel.name][sel.selectedIndex];
          }

          $('body').on('keydown', 'input, select', function (e) {
            if (e.which === 13) {
              var self = $(this);
              var selfid = self.attr('id');

              if (selfid == "ordernumber") {
                $('#search').focus();
              } else if (selfid == "search") {
                $.post("/json/partsearch", { search: $("#search").val() }).done(
                  (data) => {
                    selects[select_id] = data.manufacturerPartNumberSearchReturn.products;

                    $("#search-group").append(
                      `
                      <select id="select-${select_id}" class="custom-select mt-2" onChange="on_select(this)" name="${select_id}">
                      </select>
                      `
                    );

                    selects[select_id].forEach((value, index) => {
                      $(`#select-${select_id}`).append($('<option></option>').val(index).html(value.displayName));
                    }
                    )

                    select_id++
                  })
              }

              return false;
            }
          });

          $('#confirm-button').click((event) => {
            event.preventDefault();
            $.post("/inbound", JSON.stringify({
              order_number: $("#ordernumber").val(),
              data: selected,
            })).done((resp) => console.log(resp))
          })
        </script>

      </form>

    </div>
  </div>
</div>

{{end}}