{{define "content"}}

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col p-0">
                <h6 class="header-pretitle">Overview</h6>

                <h1 class="header-title text-truncate">Companies</h1>
              </div>
              <a href="/inbound" class="btn btn-primary ml-2">
                Create Inbound
              </a>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col p-0">
              <ul class="nav nav-tabs nav-overflow header-tabs">
                <li class="nav-item">
                  <a href="#!" class="nav-link text-nowrap active">
                    All Inbounds
                    <span class="badge badge-pill badge-soft-secondary">
                      {{.MaxItems}}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

<!-- table starts -->
<div class="container" style="padding-left: 0!important;padding-right: 0!important;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12 col-xl-10 my-5 pt-5 text-center">
            <div class="card m-auto">

      <div class="tab-content">
        <div class="table-responsive">
          <table class="table table-sm table-hover table-nowrap card-table">
            <thead>
              <tr>
                <th>
                  <a class="text-muted" href="#">Inbound ID</a>
                </th>
                <th>
                  <a class="text-muted" href="#">Item count</a>
                </th>
                <th colspan="2">
                  <a class="text-muted" href="#">Created at</a>
                </th>
                <th>
                  <a class="text-muted" href="#">Action</a>
                </th>
              </tr>
            </thead>
            <tbody class="list font-size-base">
              {{range .Inbounds}}
              <tr>
                <td>
                  <span class="inbound-number">{{.OrderNumber}}</span>
                </td>
                <td class="text-center">
                  <span class="inbound-count m-auto">{{.Count}}</span>
                </td>
                <td  colspan="2" class="text-center">
                  <time class="inbound-created">{{.FormatTime .InsertDate}}</time>
                </td>
                <td>
                  <a href="/inbound/{{.OrderNumber}}" class="btn btn-warning btn-block"> Edit </a>
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <ul class="list-pagination-prev pagination pagination-tabs card-pagination">
            {{if .PrevPage}}
            <li class="page-item active">
              <a class="page-link pl-0 pr-4 border-bottom" href="/inventory?page={{.PrevPage}}">
                <i class="fe fe-arrow-left mr-1"></i> Prev
              </a>
            </li>
            {{else}}
            <li>
              <a class="page-link pl-0 pr-4 border-right disabled">
                <i class="fe fe-arrow-left mr-1"></i> Prev
              </a>
            </li>
            {{end}}
          </ul>

          <ul class="list-pagination pagination pagination-tabs card-pagination">
            {{if .PrevPage}}
            <li>
              <a class="page" href="/inventory?page={{.FirstP}}" data-i="{{.FirstP}}">{{.FirstP}}</a>
            </li>
            {{else}}
            <li>
              <a class="page disabled" data-i="{{.FirstP}}">...</a>
            </li>
            {{end}}
            <li class="active">
              <a class="page" href="/inventory?page={{.SecondP}}" data-i="{{.SecondP}}">{{.SecondP}}</a>
            </li>
            {{if .NextPage}}
            <li>
              <a class="page" href="/inventory?page={{.ThirdP}}" data-i="{{.ThirdP}}">{{.ThirdP}}</a>
            </li>
            {{else}}
            <li>
              <a class="page disabled" data-i="{{.ThirdP}}">...</a>
            </li>
            {{end}}
          </ul>

          <ul class="list-pagination-next pagination pagination-tabs card-pagination">
            {{if .NextPage}}
            <li class="page-link active">
              <a class="page-link pl-0 pr-4 border-bottom" href=" /inventory?page={{.NextPage}}">
                Next <i class="fe fe-arrow-right ml-1"></i>
              </a>
            </li>
            {{else}}
            <li>
              <a class="page-link pl-4 pr-0 border-left disabled">
                Next <i class="fe fe-arrow-right ml-1"></i>
              </a>
            </li>
            {{end}}
          </ul>

          <div class="list-alert alert alert-dark alert-dismissible border fade" role="alert">
            <div class="row align-items-center">
              <div class="col">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="cardAlertCheckbox" checked="" disabled="" />
                  <label class="custom-control-label text-white" for="cardAlertCheckbox"><span
                      class="list-alert-count">0</span>
                    deal(s)</label>
                </div>
              </div>
              <div class="col-auto mr-n3">
                <button class="btn btn-sm btn-white-20">Edit</button>

                <button class="btn btn-sm btn-white-20">Delete</button>
              </div>
            </div>

            <button type="button" class="list-alert-close close" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
        </div>
      </div>
</div>
</div>
</div>
</div>


    </div>
  </div>
</div>

{{end}}
